body{
    background-image: url(./assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#heading{
    font-family: 'Luckiest Guy', cursive;
    font-weight: bolder;
    font-size: 150px;
    margin: 0 auto;
    padding-top: 20%;
    color: cadetblue;
}

#flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 30%;
    padding: 10px;
    border: 4px cadetblue solid;
    border-radius: 10px;
    margin: 0 auto;

}

.flex-item {
    width: 200px;
    height: 70px;
    border: 2px black solid;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: cadetblue;
    border-color:darkcyan;
    font-size: 30px;
    font-style:oblique;
    
}

#statistic{
    margin-top: 50px;
    width: 240px;
    border: 2px black solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

    background-color: cadetblue;
    border-color:darkcyan;
    font-size: 30px;
    font-style:oblique;
}

