body{
    background-image: url(../../assets/typing_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#wordDisplay, #inputField{
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    margin: 20px;
}

#wordDisplay{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.wordCounter{
    float: right;
    margin-right: 250px;
    color: white;
    font-family: 'Luckiest Guy', cursive;
    font-size: 25px;
}

#inputField{
    width: calc(100% - 65px);
    font-size: 50px;
}

#timer{
    font-size: 80px;
    font-family: 'Luckiest Guy', cursive;
    margin-top: 12%;
}

.button{
    width: 200px;
    height: 70px;
    border: 2px black solid;
    border-radius: 20px;

    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-color:black;
    font-size: 30px;
    font-family: 'Luckiest Guy', cursive; 
}